/* Hero Teaser Styles */

hero-teaser-component .hero-teaser {
  position: relative;
  width: 100%;
  height: 512px; /* Adjust height as needed */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    text-align: center;
    color: var(--kwmjs-white);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 50px;
    padding: 20px;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--kwmjs-white);
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--kwmjs-accent);
    color: var(--kwmjs-white);
    text-decoration: none;
    border-radius: 5px;
  }

  /* Media Query for smaller screens */
  @media (max-width: 768px) {
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}
